.position-cover {
    height: 100%;
}
.position {
  height: 400px; 
  overflow-y: auto; // Enables scrolling
  border: 2px solid #B0B0B0; // Silver-like border color
  border-radius: 1.5rem;
  margin: 10px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff); // Metallic gradient
  box-shadow: 5px 5px 15px #aaaaaa, -5px -5px 15px #ffffff; // Shadow for depth

  table {
    width: 100%;
    tr {
      height: 50px;
    }
    td {
      text-align: center;
      vertical-align: middle;
    }
  }
}


.position-mark {
    margin-left: 35px;
    font-size: 2rem;
}
.positionExitButton {
    padding: 10px;
    border-radius: 1rem;
    background-color: #abd5bd;
    width: 130px;
    margin: auto;
    &:hover {
        cursor: pointer;
    }
}

#settlement {
  background: linear-gradient(135deg, #6e48aa, #9d50bb); // purple gradient
  border: none;
  &:hover {
    background: linear-gradient(135deg, #9d50bb, #6e48aa); // hover effect
  }
}

#withdraw {
  background: linear-gradient(135deg, #ff5f6d, #ffc371); // orange-pink gradient
  border: none;
  &:hover {
    background: linear-gradient(135deg, #ffc371, #ff5f6d); // hover effect
  }
}

.loading--cycle {
  width: 50px;
  height: 50px;
  border: 5px solid white;
  border-radius: 50%;
  border-top-color: royalblue;
  animation: spin 0.8s infinite ease-in-out;
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}